<html lang="es">
<head>
    <meta charset = "utf-8" />
    <link rel = "stylesheet"
          type="text/css"
          href = "css/styles.css" />
    <title>YouWatch</title>
    <link rel = "icon" href =
            "tv.svg"
          type = "image/x-icon">

</head>
{{> header}}
<body>
<p>Page content</p>
</body>
{{> footer}}
</html>